<div class="col-md-12" ng-controller="DetailCtrl">
	<div class="row">
		<div class="col-xs-6">
			<table>
				<tr ng-repeat="(key, value) in excercise">
					<td>{{key}}:</td>
					<td>{{value}}</td>
				</tr>
			</table>
			<header>
				<h1>{{excercise.name}}</h1>
				<em>{{excercise.movement}} excercise</em>
			</header>
			<ul class='recommended'>
				<li class="title">Recommended</li>
				<li ng-repeat="(key, value) in excercise.recommended">
					{{key}}: {{value}}
				</li>
			</ul>			
		</div>
		<div class="col-xs-6">
			<excercise-video video="youtubeid"></excercise-video>	
		</div>
	</div>
</div>
